# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\findora\findora_cmpd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
